<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>framework-core-ui-prime-components Components App</title>

  <link id="theme-css" rel="stylesheet" type="text/css" href="/__cypress/src/assets/avalon/theme/purple/theme-light.css">
  <link id="layout-css" rel="stylesheet" type="text/css" href="/__cypress/src/assets/avalon/layout/css/layout-purple.css">

  <link rel="stylesheet" type="text/css" href="/__cypress/src/assets/prime/primeng.min.css">
  <link rel="stylesheet" type="text/css" href="/__cypress/src/assets/prime/primeicons.css">
  <link rel="stylesheet" type="text/css" href="/__cypress/src/assets/prime/primeflex.min.css">
</head>
<body>
  <div data-cy-root></div>
</body>
</html>
